:root {
  --main-color: rgb(255, 149, 0);; 
  --main-color-light: color-mix(in srgb, var(--main-color) 20%, white);

}
body {
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: #F1EDEE;
    color: #201A23;
    padding-top: 20px;
}

h1 {
  color: #F1EDEE; 
  font-size: 2.75rem; 
  border-radius: 10px;
  padding: 1rem 2rem;
  text-align: center;
  display: inline-block;
  background-color: #1c64ab;
}

h3 {
    padding: 0.5rem 1rem;
    color: var(--main-color);
    text-shadow: #201A23 1px 1px 2px;
    font-size: 22px;

}

/* Controls Styling */
#controls {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#controls h2 {
    font-size: 1.2em;
    margin: 5px 0 10px;
    color:#1c64ab;
}

#controls button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    color: #1c64ab;
    border: solid #1c64ab;
    border-radius: 5px;
    border-width: 3px;
    font-weight: bold;
    transition: background-color 0.2s;
}

#controls button:hover {
    background-color: #95c4f2;
}

#game-area {
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px; 
    margin: 20px auto;
}

#restart-btn {
    display: block;
    margin: 15px auto 0;
    padding: 10px 20px;
    background-color: white;
    color: var(--main-color);
    border: solid var(--main-color);
    border-width: 2px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

#restart-btn:hover {
    background-color:  rgb(251, 177, 72);
    color: rgb(255, 255, 255);
}

#puzzle-container {
    display: grid;
    width: 450px; 
    height: 450px; 
    border: 10px solid rgb(255, 149, 0);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



#reference-box {
    text-align: left;
    padding: 10px;
}

#reference-image {
    width: 200px; 
    height: 200px;
    border: 3px solid rgb(255, 149, 0);;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.tile {

    border: 1px solid #ccc;
    box-sizing: border-box; 
    cursor: pointer;
    background-repeat: no-repeat;
    transition: transform 0.3s; 
}

.selected {
    border: 3px solid whitesmoke
}


#message {
    font-size: 2em;
    color: rgb(255, 149, 0);;
    font-weight: bold;
    margin-top: 20px;
}

.hidden {
    display: none;
}

body {
    background-image: url(Assets/Background-img.avif);
    background-image: no-repeat;
} 